body {
  box-sizing: border-box;
}
.heading {
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background-image: url(/images/pattern.jpeg);
}

.heading h1 {
  color: khaki;
}
/* first section */
.brushes {
  background-color: mediumspringgreen;
}
h2 {
  font-family: Helvtica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.price {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}
/* Second Section */
.frames {
  background-color: lightcoral;
}
/* Third section */

.paint {
  background-color: skyblue;
}
